html::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background-color:rgb(40, 35, 7);
  z-index: -1;
} 

.navbar{
  height: 80px;
  align-content: first baseline;
  padding-left: 30px;
  padding-right: 30px;
}

.custom-icon {
  color: red; 
}

.custom-icon-2 {
  color: green;
}

.btn{
  border: rgb(255, 255, 255);
}



