html::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#4d3523, #1e190a);
  z-index: -1;
}
.navbar{
  height: 80px;
  align-content: first baseline;
}

.custom-icon {
  color: red; 
}

.custom-icon-2 {
  color: green;
}

.btn{
  border: black;
}

#but{
  background-color: white;
  color: black;
}

